.calcBtn {
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  margin: 6px 1px;
  width: 90px;
  height: 90px;
  padding: 0;
}

.screen {
  border: 0ch;
  color: aliceblue;
  text-align: end;
  font-size: 3.5em;
  margin: 5px;
  border-radius: 5px;
  height: 80px;
  padding-right: 25px;
}

.emptyScreen {
  height: 10px;
}
.calcOuter {
  width: 450px;
}

.btnContainer {
  height: 520px;
}
.btnRow {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .screen {
    font-size: 2.5em;
    height: 70px;
  }
  .calcOuter {
    width: 350px;
  }
  .emptyScreen {
    height: 15px;
  }
  .btnContainer {
    height: 390px;
  }
  .calcBtn {
    border-radius: 50%;
    font-size: 25px;
    margin: 6px 1px;
    width: 65px;
    height: 65px;
  }
}
